*{
    font-family: arial;
    margin: 0;
}
.navbar{
    background-color: #0f1111;
    height:60px;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar1{
    background: linear-gradient(to right,#f32170,#be421c,#cf23cf,#cc6b33);
    height:60px;
    color:white;
    display:flex;
    align-items: center;
    border:3px solid;
    border-color: white;
    
    justify-content: space-evenly;
}
.logo{
    height:50px;
    width:100px;
}
.img{
    background-image: url("download.png");
    height:50px;
    width:100px;
    background-size: cover;
    text-align:left;
}
.c{
    color:white;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border:1.5px solid white;
} 
.icon{
    display:flex;
    align-items: center;
}
.address{
    align-items: center;

}
.button{
    display:flex;
}
.search{
    height: 80px;
    width:100px;

}
.search1{
    width:500px;
}
.photo{
    background-image: url("images.jpeg"); 
    background-size:contain;
    height:250px;
    width:250px;
    margin-left: 10px;
    background-repeat: no-repeat;
}
.tags{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    color:white;
}
.photo1{
    background-image: url("download.jpeg");
    background-size:contain;
    height:220px;
    width:230px;
    margin-left: 10px;

    background-repeat: no-repeat;
}
.photo2{
    background-image: url("presonal-care-500x500-500x500.webp");
    background-size:cover;
    height:170px;
    width:250px;
    margin-left: 10px;
    background-repeat: no-repeat;
}
.photo3{
    background-image: url("Compatible_Headphones_Header_1400x800._SX414_QL85_.jpg");
    background-size:contain;
    height:250px;
    width:250px;
    margin-left: 10px;
    background-repeat: no-repeat;
}
.photos{
    display: flex;
    justify-content:space-evenly;
    margin-top: 10px;
    background-color: black;
}
.photos1{
    display: flex;
    justify-content:space-evenly;
    background-color: black;
}
.sale1{
    background-image: url("Image 1.jpg");
    background-size:contain;
    height:400px;
    width:650px;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
}
.sale2{
    background-image: url("download (1).jpeg");
    background-size:contain;
    height:400px;
    width:650px;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
}
.sale{
    display:flex;
    justify-content: space-evenly;
    height:670px;
    background-color: rgb(117, 204, 251);
}
.link{
    text-align: center;
    
}
.look{
    list-style: none;
    margin-top: 30px;
}
.foot1{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    border-top: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
    border-color: white;
}
.foot2{
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    display:flex;
    justify-content: center;
    border-left: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-color: white;
}
.foot3{
    display:flex;
    
}
.foot4{
    padding: 1.5px;
    border-right:1.5px solid white;
    margin-top: 30px;
}
.foot5{
    padding: 1.5px; 
    margin-top: 30px;
}
.carousel{
    width: 93%;
    position: absolute;
    overflow: hidden;
    border-radius: 20px;
    padding: 0 1%;
    top:550px;
    left: 0px;
}
.carousel-slider{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 250px;
    padding: 0 50px;
}
.carousel-list{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
}
.carousel-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 180px;
    border-radius: 5%;
    box-sizing: border-box;
    margin: 0 7px;
    object-fit: fill;
    cursor: pointer;
}
.carousel-item img{
    width: 100%;
    height: 180px;
    border-radius: 5px;
}
.photo4{
    background-image: url("acc.jpeg");
    background-size:cover;
    height:180px;
    width:230px;
    margin-left: 10px;
    background-repeat: no-repeat;
}
.photo5{
    background-image: url("shopping.jpeg");
    background-size:cover;
    height:180px;
    width:230px;
    margin-left: 10px;
    background-repeat: no-repeat;
}
.photo6{
    background-image: url("app.jpeg");
    background-size:contain;
    height:220px;
    width:230px;
    margin-left: 10px;
    background-repeat: no-repeat;
}
.photo7{
    background-image: url("images (1).jpeg");
    background-size:contain;
    height:220px;
    width:230px;
    margin-left: 10px;
    background-repeat: no-repeat;
}
